#include <windows.h>
#include "resource.h"
IDD_KANOJYO DIALOG 0,0,320,240
STYLE WS_POPUP
EXSTYLE WS_EX_LAYERED
BEGIN
  LISTBOX 0001,10,20,300,160,LBS_WANTKEYBOARDINPUT | LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | NOT WS_BORDER | WS_VSCROLL
  EDITTEXT 0002,10,190,300,30,ES_MULTILINE | ES_WANTRETURN | NOT WS_BORDER 
END 
